@tailwind base;
*


body {
    height: 100vh;
}

#switch:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }
#switch:checked ~ .dot {
    transform: translateX(100%);
    background-color: #48bb78;
  }
@tailwind components;
@tailwind utilities;